@import "globals.css";

/* ==========================================================================
   Header Section
   ========================================================================== */

.header {
    display: flex;
    padding-top: 100px;
    padding-bottom: 80px;
}

.header-top-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.header-top-bar__branding {
    padding-left: 240px;
}

.header-top-bar__nav {
    display: flex;
    flex-direction: column;
    padding-left: 148px;
}

.header-top-bar__links-wrapper {
    display: flex;
    padding-inline-start: 0;
}

/* ==========================================================================
   Title Bar Section
   ========================================================================== */
.title__section--wrapper {
    display: flex;
    height: 125px;
    align-items: center;
    background-color: var(--tan-color);
}

.title__section--box {
    padding-left: 240px;
}

/* ==========================================================================
   Directory Section
   ========================================================================== */

.directory {
    padding-left: 240px;
    padding-right: 240px;
}

/* Search & Filter Section
   ========================================================================== */

.directory__tools {
    /* dummy-property: value */
}

.directory__search {
    /* dummy-property: value */
}

.directory__filter {
    /* dummy-property: value */
}

.directory__filter--legend {
    /* dummy-property: value */
}

.directory__filter--dropdown {
    /* dummy-property: value */
}

/* Directory Records
   ========================================================================== */

.directory__contacts--wrapper {
    margin-bottom: 194px;
}

.directory__contacts--list {
    /* dummy-property: value */
}

.directory__contacts--index {
    padding-top: 70px;
    padding-bottom: 52px;
    padding-left: 64px;
}

.directory__contacts--records {

}

.directory__contacts--items {
    padding: 0;

}

.directory__contacts--item-odd {
    display: flex;
    height: 90px;
    width: 1440px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--iron-color);
}

.directory__contacts--item-even {
    display: flex;
    height: 90px;
    width: 1440px;
    align-items: center;
    justify-content: space-between;
    background-color: var(--seashell-color);
}

.directory__contacts--item-name {
    padding-left: 45px;
}

.directory__contacts--item-icon {
    padding-right: 45px;
}

.directory__contacts--item-content {
    display: flex;

}

.directory__contacts--item-content-image {
    padding: 25px 0 25px 45px;
}

.directory__contacts--item-content-about {
    padding: 35px 0 0 60px;
}

.directory__contacts--item-content-table {
    height: 175px;
    padding: 30px 0 0 45px;
}

.directory__contacts--item-content-table th {
    width: 218px;
    /*display: flex;*/
}

.directory__contacts--item-content-table th, td {
    height: 38px;
    vertical-align: center;
}

.directory__buttons-wrapper {
    padding-top: 25px;
}

.directory__see-more-button {
    margin-left: 1187px;
    margin-top: 48px;
}






