/* ==========================================================================
   Imports
   ========================================================================== */
/*@import "lib/reset.css";*/
@import "../lib/normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');
@import "footer.css";

/* ==========================================================================
   Root Variables
   ========================================================================== */
:root {
   /* Font family */
    --main-font: 'Montserrat', sans-serif;

    /* Font weights */
    --extralite: 200;
    --lite: 300;
    --regular: 400;
    --medium: 500;
    --semibold: 600;
    --semibold-italic: 700 italic;
    --bold: 700;
    --extrabold: 800;

    /* Color Palette */
    --cinder-color: #0A1119;
    --dark-jungle-green-color: #252525;
    --tuna-color: #323C40;
    --mineral-green-color: #495C63;
    --cadet-grey-color: #8FA6B1;
    --silver-sand-color: rgba(192, 192, 192, 0.50);
    --iron-color: #d7d7d7;
    --seashell-color: #f0f0f0;
    --white-color: #FFFFFF;
    --jade-green: #2FB35A;
    --parsley-color: #134F19;
    --tan-color: #D9AE76;
    --potters-clay-color: #8B5E34;
}

/* ==========================================================================
   Main Properties
   ========================================================================== */

* {
    margin: 0;
}

html {

}

body {
    /*background-color: #e1e1e1;*/
    font-family: var(--main-font);
    max-width: 1920px;
    margin: 0 auto;
}

/* ==========================================================================
   Font Variations
   ========================================================================== */

.extrabold-54--light {
    font-size: 54px;
    font-weight: var(--extrabold);
    color: var(--white-color);
}

.bold-64--tan {
    font-size: 60px;
    font-weight: var(--bold);
    color: var(--tan-color);
}

.bold-40--dark {
    font-size: 40px;
    font-weight: var(--bold);
    color: var(--tuna-color);
}

.bold-40--light {
    font-size: 40px;
    font-weight: var(--bold);
    color: var(--white-color);
}

.bold-36--light {
    font-size: 40px;
    font-weight: var(--bold);
    color: var(--white-color);
}

.bold-24--dark {
    font-size: 24px;
    font-weight: var(--bold);
    color: var(--tuna-color);
}

.bold-24--light {
    font-size: 24px;
    font-weight: var(--bold);
    color: var(--white-color);
}

.bold-20--dark {
    font-size: 20px;
    font-weight: var(--bold);
    color: var(--tuna-color);
}

.bold-20--tan {
    font-size: 20px;
    font-weight: var(--bold);
    color: var(--tan-color);
}

.bold-20--light {
    font-size: 20px;
    font-weight: var(--bold);
    color: var(--white-color);
}

.bold-18--light {
    font-size: 18px;
    font-weight: var(--bold);
    color: var(--white-color);
}

.bold-18--tan {
    font-size: 18px;
    font-weight: var(--bold);
    color: var(--tan-color);
}

.bold-16--light {
    font-size: 16px;
    font-weight: var(--bold);
    color: var(--white-color);
}

.bold-16--dark {
    font-size: 16px;
    font-weight: var(--bold);
    color: var(--tuna-color);
}

.bold-16--tan {
    font-size: 16px;
    font-weight: var(--bold);
    color: var(--tan-color);
}

.bold-16--tan {
    font-size: 16px;
    font-weight: var(--bold);
    color: var(--tan-color);
}

.semibold-48--light {
    font-size: 48px;
    font-weight: var(--semibold);
    color: var(--white-color);
}

.semibold-36--tan {
    font-size: 36px;
    font-weight: var(--bold);
    color: var(--tan-color);
}

.semibold-20--light {
    font-size: 20px;
    font-weight: var(--semibold);
    color: var(--white-color);
}

.semibold-20--dark {
    font-size: 20px;
    font-weight: var(--semibold);
    color: var(--tuna-color);
}

.semibold-16--light {
    font-size: 16px;
    font-weight: var(--semibold);
    color: var(--white-color);
}


.semibold-16--tan {
    font-size: 16px;
    font-weight: var(--semibold);
    color: var(--tan-color);
}

.semibold-italic-16--dark {
    font-size: 16px;
    font-weight: var(--semibold-italic);
    color: var(--tuna-color);
}

.semibold-14--light {
    font-size: 14px;
    font-weight: var(--semibold);
    color: var(--white-color);
}

.medium-20--dark {
    font-size: 20px;
    font-weight: var(--medium);
    color: var(--tuna-color);
}

.medium-20--light {
    font-size: 20px;
    font-weight: var(--medium);
    color: var(--white-color);
}

.medium-20--tan {
    font-size: 20px;
    font-weight: var(--medium);
    color: var(--tan-color);
}

.medium-18--dark {
    font-size: 18px;
    font-weight: var(--medium);
    color: var(--tuna-color);
}

.medium-18--light {
    font-size: 18px;
    font-weight: var(--medium);
    color: var(--white-color);
}

.medium-16--dark {
    font-size: 16px;
    font-weight: var(--medium);
    color: var(--tuna-color);
}

.medium-italic-16--dark {
    font-size: 16px;
    font-weight: var(--medium);
    font-style: italic;
    color: var(--tuna-color);
}

.medium-16--light {
    font-size: 16px;
    font-weight: var(--medium);
    color: var(--white-color);
}

.regular-20--dark {
    font-size: 20px;
    font-weight: var(--regular);
    color: var(--tuna-color);
}

.regular-18--light {
    font-size: 18px;
    font-weight: var(--regular);
    color: var(--white-color);
}

.regular-18--grey {
    font-size: 18px;
    font-weight: var(--regular);
    color: var(--mineral-green-color);
}

.regular-18--dark {
    font-size: 18px;
    font-weight: var(--regular);
    color: var(--tuna-color);
}

.regular-16--dark {
    font-size: 16px;
    font-weight: var(--regular);
    color: var(--tuna-color);
}


.regular-16--tan {
    font-size: 16px;
    font-weight: var(--regular);
    color: var(--tan-color);
}

.regular-14--light {
    font-size: 14px;
    font-weight: var(--regular);
    color: var(--white-color);
}

.regular-12--light {
    font-size: 12px;
    font-weight: var(--regular);
    color: var(--white-color);
}

.lite-16--dark {
    font-size: 16px;
    font-weight: var(--lite);
    color: var(--tuna-color);
}



/* ==========================================================================
   Common Elements
   ========================================================================== */
li {
    list-style-type: none;
}

/* Anchors */
a {
    text-decoration: none;
}


/* ==========================================================================
   Call to actions & Buttons
   ========================================================================== */

.nav-link {
    display: flex;
    width: 162px;
    height: 68px;
    justify-content: center;
    align-items: center;
}

.link {
    text-transform: uppercase;
}

.link:hover {
    color: var(--white-color);
}

.link-section {
    text-transform: uppercase;
}

.link-section:hover {
    color: var(--tan-color);
}

.link--active {
    /* dummy-property: value */
}

.cta__filled--tan {
    padding: 15px 55px;
    border-radius: 4px;
    background-color: var(--tan-color);
    text-transform: uppercase;
    color: var(--white-color);
}

.cta__filled--tan:hover {
    background-color: var(--potters-clay-color);
}

.cta__filled--green {
    padding: 15px 35px;
    border-radius: 4px;
    background-color: var(--jade-green);
    text-transform: uppercase;
    color: var(--white-color);

    margin-right: 30px;
}

.cta__filled--green:hover {
    background-color: var(--parsley-color);
}

.cta__outlined--tan {
    text-transform: uppercase;
}

.cta__outlined--light {
    padding: 15px 35px;
    border: 2px solid var(--white-color);
    text-transform: uppercase;
}

.cta__outlined--light:hover {
    border: 2px solid var(--potters-clay-color);
    color: var(--potters-clay-color);
}

.cta__outlined--tan {
    padding: 15px 35px;
    border: 2px solid var(--tan-color);
    text-transform: uppercase;
}

.cta__outlined--tan:hover {
    border: 2px solid var(--potters-clay-color);
    color: var(--potters-clay-color);
}

.cta__link--tan {
    /* dummy property: value
    bold-16--tan*/
    font-size: 16px;
    font-weight: var(--bold);
    color: var(--tan-color);
}


/* ==========================================================================
   Height & Shadows
   ========================================================================== */
.titles-shadow {
    text-shadow: 3px 4px 4px rgba(0,0,0,0.45);
}


/* ==========================================================================
   Uncategorized Visual Elements
   ========================================================================== */
.standard-separator {
    margin-top: 22px;
    width: 30px;
    height: 6px;
    border-radius: 25px;
    background-color: var(--tan-color);
}

.swiper-bullets {
    /* dummy-property: value */
}