@import "globals.css";

/* ==========================================================================
   Hero Section
   ========================================================================== */

.hero {
    display: block;
    width: 1921px;
    height: 1140px;

    background-image: url("../images/hero.png");
}

/* Header Section
   ========================================================================== */

.header {
    display: flex;
    padding-top: 112px;
}

.header-top-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

}

.header-top-bar__branding--white {
    padding-left: 238px;
}

.header-top-bar__nav {
    display: flex;
    flex-direction: column;
    padding-left: 148px;
}

.header-top-bar__nav--right {
    height: 68px;
    width: 222px;
    overflow: hidden;

    background-color: var(--tan-color);
}

.header-top-bar__links-wrapper {
    display: flex;
    padding-inline-start: 0;

    background-color: var(--tan-color);
}

.nav-link {
    display: flex;
    width: 162px;
    height: 68px;
    justify-content: center;
    align-items: center;
}

.link {
    text-transform: uppercase;
}

.link--active {
    /* dummy-property: value */
}

/* Float Description Section
   -------------------------------------------------------------------------- */

.float-description {
    width: 875px;
    height: 475px;
    padding-top: 1px;
    margin-top: 126px;
    margin-left: 240px;

    background-color: rgba(0, 0, 0, 0.25);
}

.float-description__title h3 {
    padding-left: 86px;
    margin-top: 56px;

    border-left-style: solid;
    border-left-width: 15px;
    border-color: var(--tan-color);
}

.float-description__subtitle {
    padding-left: 101px;
    margin-top: 45px;

    line-height: 26px;
}

.float-description-buttons-bar {
    padding-left: 348px;
    padding-top: 48px;
}

/* ==========================================================================
   About Us Section
   ========================================================================== */

.about-us {
    position: relative;

    display: flex;
    width: 1920px;
    height: 708px;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    background-image: url("../images/about-aerial.png");
    background-repeat: no-repeat;
}

.about-us__frame {
    position: absolute;
    left: 388px;
    z-index: 1;

    width: 682px;
    height: 422px;
    padding-left: 32px;
    border: 11px solid var(--tan-color);
}

.about-us__frame h1 {
    padding-top: 160px;
    margin: 0;

    line-height: 58px;
}

.about-us__frame h3 {
    padding-top: 26px;
    margin: 0;
}

.about-us__photo {
    position: absolute;
    left: 675px;
    z-index: 2;

    width: 362px;
    height: 600px;
}

.about-us__description {
    position: absolute;
    left: 1037px;
    top: 217px;
    z-index: 3;

    width: 452px;
    height: 434px;
    padding-left: 68px;

    background-color: var(--white-color);
}

.about-us__title {
    padding-top: 65px;
    margin: 0;
}

.about-us__text {
    margin: 0;
    padding-top: 35px;
}

/* ==========================================================================
   Project in mind
   ========================================================================== */

.project-in-mind {
    display: flex;
    width: 1920px;
    height: 283px;
    flex-direction: row;
    align-items: flex-start;

    background-image: url("../images/crane.png");
    background-color: var(--tan-color);
    background-repeat: no-repeat;
    background-position-x: 240px;
}

.project-in-mind__texts {
    margin: 0;
    padding-left: 240px;
    padding-top: 64px;
}

.project-in-mind__texts p, h2 {
    margin: 0;
}

.project-in-mind__texts p {
    margin: 0;
    padding-top: 18px;
}

.project-in-mind__button {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 220px;
}

/* ==========================================================================
   Our Solutions Section
   ========================================================================== */

.our-solutions {
    width: 1920px;

    background-color: var(--white-color);
}

.our-solutions__wrapper {
    /* dummy-property: value */
}

.our-solutions__title {
    padding-top: 130px;

    text-align: center;
}

.our-solutions__subtitle {
    padding-top: 26px;
    text-align: center;
}

/* Our Solutions Columns
   -------------------------------------------------------------------------- */

.our-solutions__columns {
    display: flex;
    justify-content: space-evenly;
}

.our-solutions__column {
    padding-top: 64px;
}

.our-solutions__columns--ul {
    line-height: 36px;
}

.our-solutions__columns--span {
    padding-right: 16px;
}

/* Our Solutions Cards
   ========================================================================== */

.our-solutions__cards-wrapper {
    padding-top: 70px;
}

.our-solutions__cards--row {
    padding-top: 26px;
}

.our-solutions__cards--column {
    display: flex;
    justify-content: space-between;
}

.our-solutions__card--half {
    max-width: 364px;
}

.our-solutions__card--full {
    max-width: 754px;
}

.our-solutions__card-content {
    position: relative;

    display: inline-block;

    text-align: center;
}

/* BUSCAR UN MEJOR NOMBRE*/
.title_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.our-solutions__hover-overlay {
    display: none;
}

/* ==========================================================================
   Counters Section
   ========================================================================== */

.counters {
    height: 564px;

    background-color: var(--white-color);
    background-image: url("../images/counter-background.png");
    background-repeat: no-repeat;
    background-position: right bottom;
}

.counters__cards--wrapper {
    display: flex;
    padding-left: 365px;
}

.counters__card {
    padding-top: 60px;
    padding-left: 20px;
    padding-right: 20px;

    max-width: 328px;
}

.counters__card--icon {
    padding-top: 36px;
    height: 60px;
    width: 60px;

    filter: opacity(35%);
}

.counters__card--number {
    padding-top: 40px;
    margin: 0;
}

.counters__card--title {
    padding-top: 32px;
    margin: 0;
}

.counters__card--description {
    padding-top: 20px;
    margin: 0;
}

/* ==========================================================================
   Testimonials Section
   ========================================================================== */

.testimonials {
    height: 707px;

    background-color: var(--cinder-color);
    background-image: url("../images/dot-planisphere-5.png");
    background-repeat: repeat-x;
    background-position: left;
}

.testimonials__wrapper {
    /* dummy-property: value */
}

.testimonials__title {
    padding-top: 70px;

    text-align: center;
}

.testimonials__subtitle {
    padding-top: 28px;
}
    text-align: center;

.testimonials__columns {
    display: flex;
    padding-top: 56px;
    padding-left: 240px;
}

.testimonials__left-arrow {
    padding-top: 176px;
    padding-left: 94px;
}

.testimonials__right-arrow {
    padding-top: 176px;
    padding-right: 94px;
}

.testimonials__card {
    padding-left: 28px;
    padding-right: 28px;
    max-width: 405px;
    border-right: 2px solid var(--tuna-color);
}

.testimonials__quote--top {
    text-align: left;
}

.testimonials__quote--bottom {
    text-align: right;
}
.testimonials__text {
    padding-top: 26px;
    margin: 0;
}

.testimonials__person {
    display: flex;
    padding-top: 12px;
}

.testimonials__person-data {
    display: flex;
    padding-left: 14px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.testimonials__person-data h5 {
    padding-top: 12px;
}

.testimonials__photo {
    border: 5px solid var(--white-color);
    border-radius: 50%;
}

.testimonials__swiper-bullets {
    display: flex;
    padding-top: 50px;
    justify-content: center;
    align-items: center;
}

/* ==========================================================================
   Latest News Section
   ========================================================================== */

.latest-news {
    width: 1920px;
    height: 940px;

    background-color: var(--silver-sand-color);
    background-image: url("../images/latest-news-background-pattern.png");
    background-repeat: no-repeat;
    background-position: top left;
    background-position-x: 60px;
    background-position-y: 60px;
    background-blend-mode: hard-light;
}

.latest-news__wrapper {
    padding-top: 65px;
    margin-left: 240px;
    margin-right: 240px;
}

.latest-news__title {
    padding-top: 134px;

    text-align: center;
}

.latest-news__subtitle {
    padding-top: 27px;

    text-align: center;
}

.latest-news__cards-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.latest-news__card {
    max-width: 448px;

}

.latest-news__card--picture {
    /* dummy-property: value */
}

.latest-news__card--date {
    padding-top: 28px;

    text-transform: uppercase;
}

.latest-news__card--title {
    padding-top: 20px;
}

.latest-news__card--lead {
    padding-top: 22px;
}

.latest-news__card--continue-reading {
    text-align: right;
}

.latest-news__buttons-wrapper {
    padding-top: 25px;
}

.latest-news__all-news-button {
    margin-left: 1392px;
    margin-top: 18px;
}

/* ==========================================================================
   Our Clients Section
   ========================================================================== */

.our-clients {
    height: 442px;
}

.our-solutions__wrapper {
    /* dummy-property: value */
}

.our-clients__title {
    margin-top: 80px;

    text-align: center;
}

.our-clients__row {
    max-height: 205px;
    margin-top: 24px;
    margin-right: 240px;
    margin-left: 240px;
    filter: saturate(0) opacity(65%);
}

.our-clients__columns {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.our-clients__logo {
    /* dummy-property: value */
}

.our-clients__buttons-wrapper {
    display: flex;
    justify-content: center;

}

.our-clients__all-clients-button {
    margin-top: 25px;
}

.our-clients__button {
    /* dummy-property: value */
}

/* ==========================================================================
   Mini Map Section
   ========================================================================== */

.you-are-here {
    height: 700px;

    background-image: url("../images/map.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.you-are-here__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.you-are-here__icon {
    padding-top: 200px;
}

.you-are-here__text {
    padding-top: 38px;
}

.you-are-here__button {
    margin-top: 90px;
}