@import "globals.css";

/* ==========================================================================
   Hero Section
   ========================================================================== */

.hero {
    display: block;
    background-image: url("../images/hero.png");
    width: 1921px;
    height: 1140px;
}

/* Header Section
   ========================================================================== */

.header {
    display: flex;

}

.header-top-bar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

}

.header-top-bar__branding--white {
    /* dummy-property: value */
}

.header-top-bar__nav {
    display: flex;
    flex-direction: column;
}

.header-top-bar__nav--right {
    /* dummy-property: value */
}

.header-top-bar__links-wrapper {
    display: flex;
    background-color: var(--tan-color);
}

.nav-link {
    width: 162px;
    height: 68px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    text-transform: uppercase;
}

.link--active {
    /* dummy-property: value */
}

/* Float Description Section
   -------------------------------------------------------------------------- */

.float-description {
    background-color: rgba(0, 0, 0, 0.25);
    width: 875px;
    height: 475px;
    position: absolute;
    left: 235px;
    top: 310px
}

.float-description__title h3 {
    padding-left: 86px;
    border-left-width: 15px;
    border-left-style: solid;
    border-color: var(--tan-color);

}

.float-description__decoration--left {
    /*width: 18px;*/
    /*height: 210px;*/
    /*background-color: var(--tan-color);*/
}

.float-description__subtitle {
    padding-left: 101px;
}

.float-description-buttons-bar {
    padding-left: 360px;
    padding-top: 40px;
}

/* ==========================================================================
   About Us Section
   ========================================================================== */

.about-us {
    width: 1920px;
    height: 708px;
    position: static;
    background-image: url("../images/about-aerial.png");
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.about-us__frame {
    width: 682px;
    height: 422px;
    border: 11px solid var(--tan-color);
    z-index: 1;
}

.about-us__photo {
    width: 362px;
    height: 600px;
    z-index: 2;

}

.about-us__description {
    width: 520px;
    height: 434px;
    background-color: var(--white-color);
    z-index: 3;
}

.about-us__title {
    /* dummy-property: value */
}

.about-us__text {
    /* dummy-property: value */
}

/* ==========================================================================
   Project in mind
   ========================================================================== */

.project-in-mind {
    width: 1920px;
    height: 283px;
    background-color: var(--tan-color);
    background-image: url("../images/crane.png");
    background-repeat: no-repeat;
    background-position-x: 240px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.project-in-mind__texts {
    /*padding-left: 240px;*/
    /*padding-top: 35px;*/
}

.project-in-mind__button {
    /* dummy-property: value */
}

/* ==========================================================================
   Our Solutions Section
   ========================================================================== */

.our-solutions {
    width: 1920px;
    /*height: 1292px;*/
    background-color: var(--white-color);
}

.our-solutions__wrapper {
    /* dummy-property: value */
}

.our-solutions__title {
    /* dummy-property: value */
}

.our-solutions__subtitle {
    /* dummy-property: value */
}

/* Our Solutions Columns
   -------------------------------------------------------------------------- */

.our-solutions__columns {
    display: flex;
    justify-content: space-evenly;
}

.our-solutions__column {
    /* dummy-property: value */
}

.our-solutions__columns--ul {
    /* dummy-property: value */
}

.our-solutions__columns--span {
    /* dummy-property: value */
}

/* Our Solutions Cards
   ========================================================================== */

.our-solutions__cards-wrapper {
    /* dummy-property: value */
}

.our-solutions__cards--row {
    /* dummy-property: value */
}

.our-solutions__cards--column {
    display: flex;
    justify-content: space-between;
}

.our-solutions__card--half {
    max-width: 364px;
}

.our-solutions__card--full {
    max-width: 754px;
}

.our-solutions__card-content {
    position: relative;
    display: inline-block;
    text-align: center;
}

/* BUSCAR UN MEJOR NOMBRE*/
.title_center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.our-solutions__hover-overlay {
    display: none;
}

/* ==========================================================================
   Counters Section
   ========================================================================== */

.counters {
    background-color: var(--white-color);
    background-image: url("../images/counter-background.png");
    background-repeat: no-repeat;
    background-position: right bottom;
}

.counters__cards--wrapper {
    display: flex;
    justify-content: space-evenly;
}

.counters__card {
    max-width: 328px;
}

.counters__icon {
    height: 60px;
    width: 60px;
    filter: opacity(35%);
}

/* ==========================================================================
   Testimonials Section
   ========================================================================== */

.testimonials {
    height: 707px;
    background-color: var(--cinder-color);
    background-image: url("../images/dot-planisphere-5.png");
    background-repeat: repeat-x;
    background-position: left;
}

.testimonials__wrapper {
    /* dummy-property: value */
}

.testimonials__title {
    /* dummy-property: value */
}

.testimonials__subtitle {
    /* dummy-property: value */
}

.testimonials__columns {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.testimonials__left-arrow {
    /* dummy-property: value */
}

.testimonials__right-arrow {
    /* dummy-property: value */
}

.testimonials__card {
    border-right: 2px solid var(--tuna-color);
}

.testimonials__quote--top {
    /* dummy-property: value */
}

.testimonials__quote--bottom {
    display: flex;
    justify-content: flex-end;
}
.testimonials__text {
}

.testimonials__person {
    display: flex;
}

.testimonials__person-data {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.testimonials__photo {
    border-radius: 50%;
    border: 5px solid var(--white-color);
}

.testimonials__swiper-bullets {
    display: flex;
    justify-content: center;
}

/* ==========================================================================
   Latest News Section
   ========================================================================== */

.latest-news {
    width: 1920px;
    height: 940px;
    background-color: var(--silver-sand-color);
    background-image: url("../images/latest-news-background-pattern.png");
    background-repeat: no-repeat;
    background-position: top left;
    background-position-x: 60px;
    background-position-y: 60px;

}

.latest-news__wrapper {
    /* dummy-property: value */
}

.latest-news__title {
    /* dummy-property: value */
}

.latest-news__subtitle {
    /* dummy-property: value */
}

.latest-news__cards-wrapper {
    display: flex;
    justify-content: space-evenly;
}

.latest-news__card {
    /* dummy-property: value */
}

.latest-news__card--picture {
    /* dummy-property: value */
}

.latest-news__card--date {
    /* dummy-property: value */
}

.latest-news__title {
    /* dummy-property: value */
}

.latest-news__card--lead {
    /* dummy-property: value */
}

.latest-news__card--continue-reading {
    /* dummy-property: value */
}

.latest-news__buttons-wrapper {
    /* dummy-property: value */
}

.latest-news__all-news-button {
    /* dummy-property: value */
}

/* ==========================================================================
   Our Clients Section
   ========================================================================== */

.our-clients {
    height: 493px;
}

.our-solutions__wrapper {
    /* dummy-property: value */
}

.our-clients__title {
    text-align: center;
    margin-top: 80px;
}

.our-clients__row {
    filter: saturate(0) opacity(65%);
    margin-top: 24px;
}

.our-clients__columns {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.our-clients__logo {
    /* dummy-property: value */
}

.our-clients__buttons-wrapper {
    display: flex;
    justify-content: center;
}

.our-clients__all-clients-button {
    /* dummy-property: value */
}

.our-clients__button {
    margin-top: 20px;
}

/* ==========================================================================
   Mini Map Section
   ========================================================================== */

.you-are-here {
    height: 700px;
    background-image: url("../images/map.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.you-are-here__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.you-are-here__icon {
    padding-top: 200px;
}

.you-are-here__text {
    padding-top: 38px;
}

.you-are-here__button {
    margin-top: 90px;
}

/* ==========================================================================
   Contact Info Section
   ========================================================================== */

.contact-info {
    height: 165px;
    background-color: var(--tan-color);
}

.contact-info__cards {
    display: flex;
    justify-content: space-evenly;
}

.contact-info__card {
    width: 394px;
    height: 152px;
    text-align: center;
    margin-top: 56px;
    border-radius: 12px;
    background-color: var(--white-color);
}

.contact-info__content {
    /* dummy-property: value */
}


/* ==========================================================================
   Footer Section
   ========================================================================== */

.footer {
    /* dummy-property: value */
    height: 714px;
    padding-top: 172px;
    background-color: var(--tuna-color);
    background-image: url("../images/footer-background.png");
    background-size: cover;
    background-repeat: no-repeat;
}

.footer__wrapper {
    /* dummy-property: value */

}

/* Footer Columns
   ========================================================================== */

.footer__columns {
    display: flex;
    justify-content: space-evenly;
}

/* Footer Branding/Socials Column
   -------------------------------------------------------------------------- */

.footer__institution {
    /* dummy-property: value */
}

.footer__branding--white {
    /* dummy-property: value */
}

.footer__strapline {
    /* dummy-property: value */
}

.footer__socials--row {
    display: flex;
}

.footer__socials {
    width: 48px;
    height: 48px;
    margin-right: 18px;
    border-radius: 25px;
    background-color: var(--mineral-green-color);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Footer Recent News leads Column
   -------------------------------------------------------------------------- */
.footer__recent-news {
    /* dummy-property: value */
}

.footer__recent-news--title {
    /* dummy-property: value */
}

.footer__recent-news--wrapper {
    /* dummy-property: value */
}

.footer__recent-news--lead {
    /* dummy-property: value */
}

.footer__recent-news--date-wrapper {
    display: flex;
    align-items: center;
}

.footer__recent-news--clock {
    /* dummy-property: value */
}

.footer__recent-news--date {
    /* dummy-property: value */
}

/* Footer Site Map Column
   -------------------------------------------------------------------------- */
.footer__site-map {
    /* dummy-property: value */
}

.footer__site-map--title {
    /* dummy-property: value */
}

.footer__site-map--links-wrapper {
    display: flex;
    flex-direction: column;
}

footer__site-map--link {
    text-decoration: none;
}

/* Footer Subscribe Column
   -------------------------------------------------------------------------- */
.footer__subscribe {
    /* dummy-property: value */
}

.footer__subscribe--title {
    /* dummy-property: value */
}

.footer__subscribe--subtitle {
    /* dummy-property: value */
}

.footer__subscribe--form-wrapper {
    /* dummy-property: value */
    display: flex;
}

.footer__subscribe--form {
    /* dummy-property: value */
}

.footer__subscribe--email-textarea {
    /* dummy-property: value */
    height: 36px;
    resize: none;
}

.footer__subscribe--send-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 42px;
    background-color: var(--tan-color);
}


/* Footer Copyright
   ========================================================================== */
.footer__copyright {
    display: flex;
    align-items: baseline;
    border-top: 1px solid var(--silver-sand-color);
    height: 60px;
    margin-top: 310px;
}

.footer__copyright--text {
    padding-right: 12px;

}

.footer__copyright--author {

}

.footer__copyright--link {
    text-decoration: none;
}








/* ==========================================================================
   Back to top button Section
   ========================================================================== */

.back-to-top__button {
    width: 120px;
    height: 120px;
    position: fixed;
    bottom: 60px;
    right: 60px;
    border-radius: 12px;
    background-color: var(--tan-color);
    display: flex;
    align-items: center;
    justify-content: center;
}