<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="x-ua-compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <title>Parque Industrial de Tres Arroyos</title>
    <!-- Link to style and favicon -->
    <link href="./images/favicon.png" rel="shortcut icon" type="image/x-icon">
    <link href="./css/landing.css" rel="stylesheet">
    <!-- mobile tab color-->
    <meta name="theme-color" content="#2091f9">
    <!-- Primary Meta Tags -->
    <meta name="title" content="Parque Industrial de Tres Arroyos">
    <meta name="description" content="Un paquete de soluciones y un impulso para su emprendimiento.">

</head>
<body>
<!--Hero Section-->
<div class="hero">
    <!--Header Section-->
    <div class="header">
        <!--Top-bar-wrapper-->
        <div class="header-top-bar">
            <!--Branding-wrapper-->
            <div class="header-top-bar__branding--white">
                <img src="images/branding-white.png" height="80" width="340"/>
            </div>
            <!--Navigation-bar-wrapper-->
            <div class="header-top-bar__nav header-top-bar__nav--right">
                <!--Navigation-links-->
                <ul class="header-top-bar__links-wrapper">
                    <li class="nav-link">
                        <a class="link link--active bold-16--light" href="#">Inicio</a>
                        <!--text= class="bold__16--light"-->
                    </li>
                    <li class="nav-link">
                        <a class="link bold-16--dark" href="#">Soluciones</a>
                        <!--text= class="bold__16--dark"-->
                    </li>
                    <li class="nav-link">
                        <a class="link bold-16--dark" href="#">Empresas</a>
                    </li>
                    <li class="nav-link">
                        <a class="link bold-16--dark" href="#">Noticias</a>
                    </li>
                    <li class="nav-link">
                        <a class="link bold-16--dark" href="#">Mapa</a>
                    </li>
                    <li class="nav-link">
                        <a class="link bold-16--dark" href="#">Contacto</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <!--Description-wrapper-->
    <div class="description-float">
        <!--Description-texts-->
        <div class="description-title">
            <div class="decoration--right"></div>
            <h3 class="semibold-48--light">Una solución y un impulso para el desarrollo de su emprendimiento</h3>
        </div>
        <div class="description-subtitle">
            <p class="medium-20--light">
                Descubra el paquete de ventajas que ofrecemos para que su empresa despliegue toda su capacidad
                productiva, crezca y alcance el siguiente nivel.
            </p>
        </div>
        <!--Description-buttons-wrapper-->
        <div class="buttons-bar">
            <a href="#" class="cta__filled--green bold-16--light">
                <i class='bx bx-download bx-flip-horizontal' style='color:#ffffff'></i>
                Folleto
            </a>
            <a href="#" class="cta--tan bold-16--light">Descubra más</a>
        </div>
    </div>

    <!--Dropdown-navigation-wrapper-->
    <!--Dropdown-button-wrapper-->
    <!--Open-close-button-->
    <!--Dropdown-links-wrapper-->
    <!--Navigation-links-->

</div>

<!--About us Section-->
<div class="about-us">
    <!--Frame-->
    <div class="frame">
        <!--Title-->
        <h1 class="bold-64--tan">15 Años</h1>
        <!--Subtitle-->
        <h5 class="bold-24--dark">Al servicio de la producción</h5>
    </div>
    <!--Photo-->
    <div class="man__photo">
        <img src="images/about-man.png" height="599" width="362" alt="Hombre de espaldas"/>
    </div>
    <!--About-us wrapper-->
    <div class="about-us--container">
        <!--Title-->
        <h6 class="about-us__title bold-24--dark">Quienes somos</h6>
        <div class="separator"></div>
        <p class="about-us__txt regular-16--dark">El parque industrial fué creado por el Decreto Nº 3631/75 del Gobierno de la Provincia
            de Buenos Aires en el mes de mayo de 1975.
            En la década del ’90 comenzó su desarrollo y en los años siguientes continuó la radicación de empresas hasta
            colmar su capacidad original de 92 hectáreas, por lo que fue ampliado en el año 2009 incorporando a su
            extensión originaria otras 40 hectáreas.
            Posteriormente, en diciembre de 2018, se firmó un convenio para realizar una nueva ampliación de otras 40
            hectáreas.
        </p>
    </div>
    <!--Background-->
</div>

<!--Project in mind Section-->
<div class="project-in-mind">
    <!--Text wrapper-->
    <div class="project-in-mind__texts">
        <h2 class="extrabold-54--light">
            ¿Tiene algún proyecto en mente?
        </h2>
        <p class="medium-20--light">
            Comuníquese con nuestro equipo de asesores que le brindarán toda la información que Ud. necesita para tomar
            la mejor decisión.
        </p>
    </div>
    <!--Contact-now-button-->
    <div class="project-in-mind__button">
        <a href="#" class="cta--outline bold-16--light">Contáctenos ya</a>
    </div>
</div>

<!--Our solutions Section-->
<div class="our-solutions">
    <!--Text wrapper-->
    <div class="our-solutions__wrapper">
        <!--Title-->
        <div class="our-solutions__title bold-40--dark">Nuestras soluciones</div>
        <!--Subtitle-->
        <div class="our-solutions__subtitle regular-20--dark">El parque industrial cuenta con los siguientes servicios
            comunes para todos nuestros clientes y además contamos con otros más especializados:
        </div>

        <!--Columns-wrapper-->
        <div class="our-solutions__columns medium-20--dark">
            <!--Col-1-->
            <div class="our-solutions__column1">
                <ul class="our solutions__ul">
                    <li><span class="medium-20--tan">■</span>Red de Energía Eléctrica</li>
                    <li><span class="medium-20--tan">■</span>Cerco permetral Olímipico</li>
                    <li><span class="medium-20--tan">■</span>Gas Natural</li>
                    <li><span class="medium-20--tan">■</span>Iluminación interna del predio</li>
                </ul>
            </div>
            <!--Col-2-->
            <div class="our-solutions__column2">
                <ul class="our solutions__ul">
                    <li><span class="medium-20--tan">■</span>Telefonía e Internet</li>
                    <li><span class="medium-20--tan">■</span>Pavimento de hormigón</li>
                    <li><span class="medium-20--tan">■</span>Seguridad Privada</li>
                    <li><span class="medium-20--tan">■</span>Tasas municipales especiales</li>
                </ul>
            </div>
        </div>

        <!--Cards wrapper-->
        <div class="our-solutions__cards">
            <!--Row-1-->
            <div class="our-solutions__cards--row">
                <!--Columns-wrapper-->
                <div class="our-solutions__cards--column">
                    <!--Col-1-->
                    <div class="our-solutions__card--half">
                        <h2 class="bold-40--light">Centro de Capacitación</h2>
                        <img src="images/solutions-training.png" alt="Centro de Capacitación" height="364" width="365"/>
                        <div class="our-solutions__hover-overlay">
                            <h4 class="bold-40--dark">Centro de Capacitación</h4>
                            <p class="semibold-italic-16--dark">
                                Ofrece una alternativa de formación para el perfeccionamiento de los
                                trabajadores,
                                lo que contribuye con la mejora de la competitividad de las empresas del Parque.
                            </p>
                        </div>
                    </div>
                    <!--Col-2-->
                    <div class="our-solutions__card--full">
                        <h2 class="bold-40--light">Oficina de AFIP</h2>
                        <img src="images/solutions-afip.png" alt="Oficina de AFIP" height="367" width="754"/>
                        <div class="our-solutions__hover-overlay">
                            <h4 class="bold-40--dark">Oficina de AFIP</h4>
                            <p class="semibold-italic-16--dark">
                                Podrá gestionar las aplicaciones, percepciones y fiscalización de los tributos
                                nacionales, los recursos de la seguridad social y el control de las actividades de su
                                emprendimiento.
                            </p>
                        </div>
                    </div>
                    <!--Col-3-->
                    <div class="our-solutions__card--full">
                        <h2 class="bold-40--light">Oficina primaria de aduana</h2>
                        <img src="images/solutions-customs.png" alt="Oficina primaria de aduana" height="364" width="748"/>
                        <div class="our-solutions__hover-overlay">
                            <h4 class="bold-40--dark">Oficina primaria de aduana</h4>
                            <p class="semibold-italic-16--dark">
                                Permite realizar la gestión en origen de los trámites  aduanerossemi, lo cual se traduce
                                en una notable mejora en los costos y tiempos de logística.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <!--Row-2-->
            <div class="our-solutions__cards--row">
                <!--Columns-wrapper-->
                <div class="our-solutions__cards--column">
                    <!--Col-4-->
                    <div class="our-solutions__card--full">
                        <h2 class="bold-40--light">Servicios bancarios</h2>
                        <img src="images/solutions-bank.png" alt="Servicios bancarios" height="365" width="756"/>
                        <div class="our-solutions__hover-overlay">
                            <h4 class="bold-40--dark">Servicios bancarios</h4>
                            <p class="semibold-italic-16--dark">
                                Desde el año 2016 se cuenta con una sucursal del Banco de la Provincia de Buenos Aires.
                            </p>
                        </div>
                    </div>
                    <!--Col-5-->
                    <div class="our-solutions__card--full">
                        <h2 class="bold-40--light">Oficina de Senasa</h2>
                        <img src="images/solutions-senasa.png" alt="Oficina de Senasa" height="365" width="756"/>
                        <div class="our-solutions__hover-overlay">
                            <h4 class="bold-40--dark">Oficina de Senasa</h4>
                            <p class="semibold-italic-16--dark">
                                Realiza la fiscalización y certificación de granos y subproductos vegetales para
                                exportación.
                            </p>
                        </div>
                    </div>
                    <!--Col-6-->
                    <div class="our-solutions__card--half">
                        <h2 class="bold-40--light">Asesoramiento del INTI</h2>
                        <img src="images/solutions-inti.png" alt="Asesoramiento del INTI" height="365" width="355"/>
                        <div class="our-solutions__hover-overlay">
                            <h4 class="bold-40--dark">Asesoramiento del INTI</h4>
                            <p class="semibold-italic-16--dark">
                                Desde el mes de enero de 2017, se reciben visitas periódicas de profesionales de la
                                entidad, con el fin de diagnosticar y brindar asesoramiento a las empresas que lo
                                requieran.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Counter section-->
<div class="counters">
    <!--counter wrapper-->
    <div class="counters__wrapper">
        <!--columns-wrapper-->
        <div class="counters__card--wrapper">
            <!--counter-1-companies-based-->
            <div class="counters__card">
                <!--Icon-->
                <img src="images/counter-factories.png" alt="Icono de fábrica" height="512" width="512"/>
                <!--Number-->
                <h1 class="bold-64--tan">94</h1>
                <!--Title-->
                <h4 class="bold-20--dark">Empresas radicadas</h4>
                <!--Subtitle-->
                <p class="medium-16--dark">
                    Hemos completado todo tipo de proyectos incluyendo manufactura, maquinaria, etc.
                </p>
            </div>
            <!--counter-2-job-positions-->
            <div class="counters__card">
                <!--Icon-->
                <img src="images/counter-employee.png" height="512" width="512"/>
                <!--Number-->
                <h1 class="bold-64--tan">3000</h1>
                <!--Title-->
                <h4 class="bold-20--dark">Puestos de trabajo</h4>
                <!--Subtitle-->
                <p class="medium-16--dark">
                    Se han generado gran cantidad de puestos de trabajo genuinos formales.
                </p>
            </div>
            <!--counter-3-satisfied-customers-->
            <div class="counters__card">
                <!--Icon-->
                <img src="images/counter-rating.png" height="512" width="512"/>
                <!--Number-->
                <h1 class="bold-64--tan">+100</h1>
                <!--Title-->
                <h4 class="bold-20--dark">Clientes satisfechos</h4>
                <!--Subtitle-->
                <p class="medium-16--dark">
                    Nuestros clientes han alcanzado sus objetivos planificados y metas con creces.
                </p>
            </div>
            <!--counter-4-productive-fields-->
            <div class="counters__card">
                <!--Icon-->
                <img src="images/counter-poductivity.png" height="512" width="512"/>
                <!--Number-->
                <h1 class="bold-64--tan">160</h1>
                <!--Title-->
                <h4 class="bold-20--dark">Tierras productivas</h4>
                <!--Subtitle-->
                <p class="medium-16--dark">
                    Produciendo variedades de cultivos y cría de animales también abundan los emplazamientos fabriles.
                </p>
            </div>
        </div>
    </div>  <!--Background-->
</div>

<!--Testimonials Section-->
<div class="testimonials">
    <!--testimonials wrapper-->
    <!--Title-->
    <!--Subtitle-->
    <!--Columns-wrapper-->
    <!--Left-arrow-column-->
    <!--Column-1-->
    <!--Quote-wrapper-->
    <!--Open-icon-->
    <!--Text-->
    <!--Close-icon-->
    <!--Person-wrapper-->
    <!--Photo-->
    <!--Name-->
    <!--Occupation-->
    <!--Column-2-->
    <!--Quote-wrapper-->
    <!--Open-icon-->
    <!--Text-->
    <!--Close-icon-->
    <!--Person-wrapper-->
    <!--Photo-->
    <!--Name-->
    <!--Occupation-->
    <!--Column-3-->
    <!--Quote-wrapper-->
    <!--Open-icon-->
    <!--Text-->
    <!--Close-icon-->
    <!--Person-wrapper-->
    <!--Photo-->
    <!--Name-->
    <!--Occupation-->
    <!--Left-arrow-column-->
    <!--Swiper-bullets-->
    <!--Background-->
</div>

<!--Latest News Section-->
<div class="latest__news">
    <!--latest-news-wrapper-->
    <!--Title-->
    <!--Subtitle-->
    <!--News-cards-wrapper-->
    <!--News-card-1-->
    <!--Date-->
    <!--Title-->
    <!--Lead-->
    <!--Continue-reading-link-->
    <!--News-card-2-->
    <!--Date-->
    <!--Title-->
    <!--Lead-->
    <!--Continue-reading-link-->
    <!--News-card-3-->
    <!--Date-->
    <!--Title-->
    <!--Lead-->
    <!--Continue-reading-link-->

    <!--all-news-button-wrapper-->
    <!--all-news-button-->

    <!--Background-->
</div>

<!--Our-clients Section-->
<div class="our__clients">
    <!--Clients wrapper-->
    <!--Title-->
    <!--Clients-row-->
    <!--Clients-columns-->
    <!--Logo-1-->
    <!--Logo-2-->
    <!--Logo-3-->
    <!--Logo-4-->
    <!--Logo-5-->
    <!--Logo-6-->
    <!--See-all-clients-wrapper-->
    <!--See-all-clients-button-->
</div>

<!--You-are-here Section-->
<div class="you__are__here">
    <!--you-are-here-wrapper-->
    <!--Icon-->
    <!--Title-->
    <!--View-complete-map-button-->
    <!--Background-->
</div>

<!--Contact Info Section-->
<div class="contact__info">
    <!--Contact-info-wrapper-->
    <!--Contact-row-->
    <!--Address-card-->
    <!--Icon-->
    <!--Title-->
    <!--information-->
    <!--Email-card-->
    <!--Icon-->
    <!--Title-->
    <!--information-->
    <!--Phone-card-->
    <!--Icon-->
    <!--Title-->
    <!--information-->
</div>

<!--Footer Section-->
<div class="footer">
    <!--Footer-wrapper-->
    <!--Footer-columns-wrapper-->
    <!--Footer-branding-and-socials-column-->
    <!--Footer-branding-wrapper-->
    <!--Footer-subtitle-wrapper-->
    <!--Footer-social-icons-wrapper-->
    <!--Social-icon-1-->
    <!--Social-icon-2-->
    <!--Social-icon-3-->
    <!--Social-icon-4-->
    <!--Footer-recent-news-wrapper-->
    <!--Title-->
    <!--Separator-->
    <!--news-wrapper-1-->
    <!--Lead-->
    <!--date-wrapper-->
    <!--icon-->
    <!--date-->
    <!--news-wrapper-2-->
    <!--Lead-->
    <!--date-wrapper-->
    <!--icon-->
    <!--date-->
    <!--news-wrapper-3-->
    <!--Lead-->
    <!--date-wrapper-->
    <!--icon-->
    <!--date-->

    <!--Footer-site-map-wrapper-->
    <!--Title-->
    <!--Separator-->
    <!--Link-1-->
    <!--Link-2-->
    <!--Link-3-->
    <!--Link-4-->
    <!--Link-5-->
    <!--Link-6-->
    <!--Footer-subscribe-form-->
    <!--Title-->
    <!--Separator-->
    <!--Footer-subtitle-wrapper-->
    <!--Submit-form-->
    <!--Text-area-->
    <!--Send-button-->
    <!--Copyright-wrapper-->
    <!--Copyright-text-->
    <!--Copyright-link-->

    <!--Background-->
</div>

<div class="back__to__top">
    <!--Back-to-top-button-->
</div>

</body>
</html>